<h1>Listing story_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @story_statuses.each do |story_status| %>
  <tr>
    <td><%= story_status.name %></td>
    <td><%= story_status.story %></td>
    <td><%= link_to 'Show', story_status %></td>
    <td><%= link_to 'Edit', edit_story_status_path(story_status) %></td>
    <td><%= link_to 'Destroy', story_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story status', new_story_status_path %>
