<h1>Listing stories</h1>
<%= link_to 'New Story', new_story_path, :class=>"btn success" %>
<br/>   
<%= form_tag '/' do %>
<p><%= label_tag 'user' %>
<%= select_tag 'user', options_from_collection_for_select(@user, "id", "login")<< '<option value="all">All</option>'.html_safe %></p>
<p><%= label_tag 'status' %>
<%= select_tag 'status', options_from_collection_for_select(@story_statuses, "id", "name")<< '<option value="all">All</option>'.html_safe %></p>
<p><%= submit_tag 'Search', :class=>"btn info"%></p>
<% end -%>
<table class="bordered-table zebra-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th>State</th>
    <th>User</th>
    <th>Comment</th>
    <th></th>

  </tr>
   </thead>
   <tbody>
<% @stories.each do |story| %>
  <tr>
    <td><%= story.name %></td>
    <td><%= story.text %></td>
    <td><%= story.story_status ? story.story_status.name : '' %></td>
    <td><%= story.user.login %></td>
    <td><%= story.story_comments.count() %></td>
    <td><%= link_to 'Show', story %> 
    <%= link_to 'Edit', edit_story_path(story) %> 
    <%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

